body{
    background: url(../fondo_pasto.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: auto;
    font-family: Tahoma, Geneva, sans-serif;
}
header{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
    justify-content: space-between;
    padding-bottom: 2%;
}
header .logo-link {
    width: 35%;
    margin-left: 10%;
    margin-top: 2%;
}
header img{
    color: white;
    width: 100%;
    border-radius: 100px;
}
header .promiedos{
    color: white;
    text-decoration: none;
    align-items: center;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}
header .promiedos:hover{
    color:aqua;
}
.estadio {
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
}
.grada {
    border-radius: 50px;
    background-color: #212529;
    padding: 5%;
    width: 780px;
}
.campo {
    display: flex;
    justify-content: start;
    position: relative;
    border-radius: 50px;
    width: 700px;
    height: 360px;
    background-color:green;
    background-position: center;
    background-size: 100%;
    padding: 40px;
}
.izquierda {
    position: relative;
    width: 50%;
    border: 2px solid #fff;
    border-right: none;
    overflow: hidden;
}
.derecha {
    position: relative;
    width: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}
.contenedor-porteria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.porteria {
    border: 2px solid #fff;
    width: 15px;
    height: 50px;
}
 
.porteria-izquierda {
    border-right: none;
}
 
.porteria-derecha {
    border-left: none;
}
.corner {
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
 
.izquierda .corner-superior {
    position: absolute;
    top: -12px;
    left: -14px;
}
 
.izquierda .corner-inferior {
    position: absolute;
    bottom: -12px;
    left: -14px;
}
 
.derecha .corner-superior {
    position: absolute;
    top: -12px;
    right: -14px;
}
 
.derecha .corner-inferior {
    position: absolute;
    bottom: -12px;
    right: -14px;
}
.area {
    width: 90px;
    height: 160px;
    border: 1px solid #fff;
    top: 29%;
    position: absolute;
}
 
.izquierda .area {
    border-left: none;
}
 
.derecha .area {
    right: 0px;
    border-right: none;
}
.arquero{
    width: 120px;
    height: 150px;
    position:absolute;
    top:30%;
}
.defensores{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 310px;
    gap:10px;
    position:absolute;
    left:50%;
    top:8%;
}
.defensor{
    width:120px;
    height:150px;
    position:relative;
}
.mediocampista{
    width: 120px;
    height: 150px;
    position:absolute;
    top:30%;
}
.delantero{
    width: 120px;
    height: 150px;
    position:absolute;
    top:30%;
    left:50%;
}
.tarjeta_jugador{
    width:100%;
    height:100%;
    position: absolute;
    bottom: 0%;
}
.tarjeta_jugador:hover{
    width:110%;
    height:110%;
}
footer {
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer form {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: auto;
}

footer input{
    margin-bottom: 10px;
    padding: 5px;
    max-width: 300px;
    align-items: center;
    width:40%;
    border-radius: 5%;
}
.nombre_equipo{
    font-size: 25px;
    font-weight: bold;
}
footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
footer div select{
    width: 100%;
}
footer div label{
    font-size: 20px;
}

footer button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer button:hover {
    background-color: #0056b3;
}
